*.o
*.hi
xmonad/xmonad.errors
xmonad/xmonad-i386-linux

# Looks like state, rather than config
config/abiword/profile
config/audacious
config/cmus
config/pavucontrol.ini
config/pulse/cookie
config/leafpad/leafpadrc
config/inkscape/
config/vlc/vlc-qt-interface.conf
config/vlc/vlcrc
config/imm/state
config/Kid3
config/MusicBrainz/Picard.conf
config/puddletag
config/Trolltech.conf
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/settings.ini
config/uGet

# Cluttered with data and cache
config/Clementine

# Pretty huge...
config/banshee-1
config/chromium
config/libreofficedev

# Nope
*keepassx*
