/* Always hide the tab bar */
#TabsToolbar { visibility: collapse; }

/* Hide address bar and surrounding buttons unless anything inside is focused */
#nav-bar:not(:focus-within), #nav-bar:not(:focus-within) * {
        border : none !important;
        margin : 0    !important;
    max-height : 0    !important;
    min-height : 0    !important;
       padding : 0    !important;
}
